@media (min-width: 992px){
    .fondo404{
        background-attachment: fixed;
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        background-image: url(../img/245-2452603_404-wallpaper.png);
        background-color: black;
        height: 100%;
}
@media (max-width: 991px){
    .fondo300px{
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        background-size: 100%;
        background-image: url(../img/245-2452603_404-wallpaper\ -\ copia.png);
        background-color: black;
        height: 100%;
    }
}
}
.h1404{
    width: 50%;
    font-size: 5em;
    margin-left: 0.5em;
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-top: 0.5em;
}
.volverAlInicio{
    margin-right: 1em;
    margin-top: 0.7em;
    text-align: end;
    width: 50%;
    font-size: 4rem;
    text-decoration: none;
    color: white;
    &:hover{
        color: red;
    }

}
.main404{
    height: 100%;
    width: 100%;
}
.flecha404{
    width: 20%;
    height: 40%;
    justify-content: end;
    align-items: flex-start;
}
.div404{
    width: 40%;
}