.categorias{
    grid-area: cat;
    margin-top: 22.5rem;
    margin-bottom: 73.9rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px 
    
}
.formCategorias{
    border-style: solid;
    border-color: black;
    background-color: map-get($map: $colores, $key:cinco );
    justify-content:flex-start ;
    font-size: 3rem;
    background: map-get($map: $colores, $key:ocho );
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(172,171,175,1) 50%, rgba(55,53,53,1) 100%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.b{
    flex-direction: column;
}
.contenidoCategorias{  
    
    font-size: 1.5rem;
    color: map-get($map: $colores, $key:seis );
    width: 20%;
    @extend .b;
}