
//VARS

$backgroundImg:url(../img/gray-abstraction-geometric-background-material-design-stylish-gray-background.jpg);


//INDEX
*{
     
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;}
    
h1{
    color: rgba(0, 0, 0, 0);
    font-size: 7rem;
    justify-content: right;
}
body{
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image:$backgroundImg; 
}
html{
    font-size: 62.5%;
}


.btn{
    width: 10rem;
    height: 4rem;
}

.form-control{
    width: 20rem;
    height: 4rem;
}
.categorias{
    
    grid-area: cat;
    margin-top: 22.5rem;
    margin-bottom: 73.9rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px 
    
}
formCategorias{
    background-color: map-get($map: $colores, $key:cinco );;
    justify-content:flex-start ;
    font-size: $tresRem;
    background: map-get($map: $colores, $key:ocho );
    background: linear-gradient(90deg, rgb(48,48,48) 0%, rgba(172,171,175,1) 50%, rgba(55,53,53,1) 100%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.b{
    flex-direction: column;
}
.contenidoCategorias{  
    
    font-size: $SMrem;
    flex-direction: column;
    width: 20%; 
    color: map-get($map: $colores, $key:seis )
    
}
.MasRelevante{
    text-align: center;
}
.article{
    flex-direction: row;
    padding: $dosrem;
    flex-wrap: wrap;
}
.img{
    img{
    width: 50rem;
    height: 50rem; 
    }
}
//ARTICULOS
.discoRigido{
    position: auto;
    height: auto;
    @extend .fuenteDePoder;
}
.scale{ 
    &:hover{
        transform: scaleX(1.05);
        transition: transform 0.5s;
    }
}
.AgregarAlCarroDisco{
    margin-bottom: $tresRem;
}
.fuenteDePoder{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.gabinete{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.cpu{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.cpuImg{
    width: 50rem;
    padding-top: 20px;
}
.AgregarAlCarroProcesador{
    margin-bottom: $tresRem;
}
.mouse{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.refriLiquida{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.AgregarAlCarroRefri{
    margin-bottom: $tresRem;
}
.ssd{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto; 
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.AgregarAlCarroSSD{
    margin-bottom: $tresRem;
}
.gpu{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.ram{
    margin: 50px auto;
    padding: auto;
    background-color: $secondColor;
    border: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.AgregarAlCarroGPU{
    margin-bottom: $tresRem;
}
@keyframes Animacion{
    0%{color: map-get($map: $colores, $key:cinco );}
    25%{color: map-get($map: $colores, $key:cinco );}
    50%{color: rgb(94, 42, 42);}
    75%{color: map-get($map: $colores, $key:cinco );}
    100%{color: map-get($map: $colores, $key:seis );}
 }
.animacion{
    animation-name: Animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
article{
     img{
    border: none !important;
    background: none !important;
    }    
}   
.pArticle{
    color: map-get($map: $colores, $key:cinco );
}
.AgregarAlCarroGPU{
    margin-bottom: $tresRem;
}
.AgregarAlCarroDisco{
    margin-bottom: $tresRem;
}
.AgregarAlCarroProcesador{
    margin-bottom: $tresRem;
}
.AgregarAlCarroRefri{
    margin-bottom: $tresRem;
}
.AgregarAlCarroSSD{
    margin-bottom: $tresRem;
}
.AgregarAlCarroGPU{
    margin-bottom: $tresRem;
}
.AgregarAlCarro{
    width: 19rem;
    height: 5rem;
    color: map-get($map: $colores, $key:cinco );
    font-size: 3rem;
    margin-top: 5rem;
    background: map-get($map: $colores, $key:siete );
    background: linear-gradient(90deg, rgba(24,24,24,1) 0%, rgba(134,134,135,1) 50%, rgba(9,9,9,1) 100%);
    border-radius: 10px;
    border-color: map-get($map: $colores, $key:cuatro );
    cursor: pointer;
}
main { 
    article{
        text-align: center;
    }
    section {
        p{
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 1.7rem;
            line-height: $dosrem;
        }
        article {
            width: auto;
            height: auto;
            border-style: double;
        }
            P{
                color: map-get($map: $colores, $key:seis );
                font-size: $tresRem;
                line-height: 3.5rem;
        }
    }
}
//FIN ARTICULOS
p {
    margin-top: 0;
    margin-bottom: $XSrem;
}
h2 {
    color: map-get($map: $colores, $key:seis );
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}

//INDEX







//ACERCA DE


    
.nuestroProposito{
    color: map-get($map: $colores, $key:seis );
    font-weight: 700;
    font-size: 7rem;
    line-height: 8rem;
    text-align: center;
    background-color: map-get($map: $colores, $key:tres );
    height: auto;
    margin-top: auto;
    padding-top: auto;
}
.parrafoNuestroProposito{
    font-size: $tresRem;
    line-height: 4.5rem;
    text-align: center;
    display: inline-block;
    background-color: map-get($map: $colores, $key:dos );
} 
.imgNuestroProposito{ 
    width: 100%;
    justify-content: center;
    background-color: map-get($map: $colores, $key:seis );
}
.text-center{
    text-align: center;
    display: flex;
    justify-content: center;
}
.conteiner{
    display: flex;
}
.pPoliticaDePrivacidad{
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
.h3{
    font-size: 3.5rem;
}
.text-center{
    text-align: center;
    display: flex;
    justify-content: center;
}
.map{
    display: inline-block;
    width: 100%;
}
.d-block{
    margin: auto;
}
.contacto{
    height: 100%;
    margin: auto;
}

        
    


//FIN ACERCA DE


//REGISTRO


.fotoDePerfil{
    flex-direction: column;
    border-style: groove;
    border-color: map-get($map: $colores, $key:seis );
}
.fotoDePerfilH2{
    justify-content: center;
}
.imgFotoDePerfil{
    width: 25%;
    @extend .fotoDePerfilH2   
}
.formRegistro{
    
    width: 100%;
    @extend .fotoDePerfil
}
.registro{
    justify-content: center;
    font-size: 4rem;
    flex-direction: column;
}
.input{
    width: 50%;
    margin-bottom: 1.5%;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: black;
    text-align: center;
}
.input2{
    width: 20%;
    justify-content: center;
    margin-top: 20px;
    display: block;
    margin-right: $SMrem;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: black;
}
.referidos{
    border-style: groove;
    border-color: map-get($map: $colores, $key:seis );
    width: 100%;
} 
.codigo{
    font-size: 5.5rem;
    justify-content: center;
    background-color: map-get($map: $colores, $key:cinco );
}
.codigoButton{
    display: inline-block;
    justify-content: center;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.textAreaRegistro{
    width: 100%;
    font-size: 1.5rem;
}
@media (max-width : 768px){
    .responsiv768px{
        display: block !important;
    }
}


//FIN REGISTRO



//CONTACTO
.footerContacto{
    margin-top: auto;
}
.fs-50{
    margin-top: 10rem;
    font-size: 5rem;
}
.contacto{
    font-size: 2rem;
    line-height: 2.5rem;
}
.inputContacto{
    width: 35rem;
}
.form-control{
    width: 20rem;
}
//FIN CONTACTO




//PRIVACIDAD
.mainPrivacidad{
    background-color: map-get($map:$colores , $key:uno );
}
.divH2Privacidad{
    border-bottom: solid;
    border-color: map-get($map: $colores, $key:cinco );
}
.privacidad {
    justify-content: center; 
    font-size: 7rem;
    color: map-get($map: $colores, $key:cinco );;
    font-weight: 700;
    
}
.activarDesactivar{
    display: flex;
    width: 100%;
    background-color: map-get($map: $colores, $key:cinco );
    border: solid;
    border: map-get($map: $colores, $key:seis );
}
.inputPrivacidad{
    width: 20%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.input2Privacidad{
    width: 20%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.labelNotificaciones{
    font-size: 4rem;
    line-height: 4.5rem;
    color: map-get($map: $colores, $key:seis );
}
.metodosDePago{
    margin-bottom: 5.5rem;
    color: map-get($map: $colores, $key:cinco );
    font-size: 5rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
}
.imgTarjetas{
    display: inline-block
    width 50%;
    width: 50%;
    justify-content: center;
    border: solid 15px;
    border-color: map-get($map: $colores, $key:seis );
    @include center(colum,center,center);
}
.tarjetas{
    margin-left: 3rem;
    display: block;
    font-size: 4rem;
    padding-right: 0%;
}
.tarjetasP{
    font-weight: 800;
    font-size: 3rem;
    color: map-get($map: $colores, $key:cinco );
    margin-bottom: $tresRem;
    margin-top: $tresRem;
    @include center(colum,center,center)
}

.imgTransferencia{
    display: inline-block;
    width: 50%;
    border: solid 15px;
    border-color:map-get($map: $colores, $key:seis );
}
.transferencia{
    margin-left: 3rem;
    display: inline-flex;
    margin-bottom: 10rem;
    font-size: 4rem;
    padding-right: 0%;
    vertical-align: middle;
    vertical-align: 150%;  
}
.transferenciaP{
    font-weight: 800;
    font-size: 3rem;
    color: map-get($map: $colores, $key:cinco );
    width: 100%;
    margin-bottom: $tresRem;
    margin-top: $tresRem;
    @include center(colum,center,center)
}
