//Fonts google
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mouse+Memoirs&family=PT+Sans+Narrow&display=swap');

$XSrem: 1rem;
$SMrem: 1.5rem;
$dosrem: 2rem;
$tresRem: 3rem;
