.redes{
    justify-content: center;
    border: 7px;
    border-style: solid;
    border-color: map-get($map: $colores, $key:seis );
    background-color: map-get($map: $colores, $key:uno );
    width: auto;
    //margin-top: 20%;
} 
.conteiner{
    display: flex;
}
.separarImgRedes{
    margin-right: 1rem;
}
.acercaDeFooter {
    display: flex;
    align-items: flex-end;
    margin-top: 0%;
    justify-content: center;
}